.nav {
  background: black;
  min-height: em(50px);
  position: fixed;
  width: 100%;

  &__ul {
    padding: 0 em(20px);
  }

  &__li {
    display: inline-block;
    color: grey;
    float: right;
    padding: em(10px);
    transition: all 1s ease-in-out;
    cursor: pointer;
    font-size: em(20px);
    margin-top: 3px;

    &:first-child {
      float: left;
      color: white;
    }

    &:hover {
      color: white;
    }
  }
}
